Repository vagmcs/readapt, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, build, docs, core, tests

fix: documentation and tests
  src/bandits/arm.rs
  src/lib.rs
Labels: core

⬆️ Bumps version to 0.1.1
  Cargo.lock
  Cargo.toml
Labels: build

docs: Adds CITATION and READMD badges
  CITATION.cff
  README.md
Labels: docs

fix: Renames UCB to Ucb
  src/bandits/bandit.rs
Labels: core

feat: Adds an MDP policy abstraction
  src/lib.rs
  src/mdp/mod.rs
  src/mdp/policy.rs
Labels: core

feat: Adds MDP model trait
  src/mdp/mod.rs
  src/mdp/model.rs
Labels: core

test: Checks out of bounds state policy actions
  src/mdp/policy.rs
Labels: core

ci: populates gitignore
  .gitignore
Labels: none

ci: adds pre-commit
  Cargo.lock
  Cargo.toml
Labels: build

ci: Adds PR title checker action
  .github/pr-title-checker-config.json
  .github/workflows/pr-manager.yml
Labels: ci

Updates pr check and dependabot config
  .github/dependabot.yml
  .github/pr-title-checker-config.json
Labels: ci

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file: [".github/**"]

build:
  - changed-files:
      - any-glob-to-any-file: ["Cargo.toml"]

docs:
  - changed-files:
      - any-glob-to-any-file: ["docs/**", "**/*.md"]

core:
  - changed-files:
      - any-glob-to-any-file: ["src/**"]

tests:
  - changed-files:
      - any-glob-to-any-file: ["tests/**"]
